<%- model_class = Event -%> 
<div class="container-fluid">
  <div class="page-header">
    <h2 class="text-center">Calendar <small>Events for all Users</small></h2>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
    	<h3><span class="label label-default">Seminar</span></h3>
		<h3><span class="label label-success">Holiday</span></h3>
		<h3><span class="label label-danger">Project</span></h3>
		<h3><span class="label label-primary">Other</span></h3>
    </div>
    <div class="col-md-8">
		  <div class="calendar"></div>
      </div>
      <div class="col-md-2">
      </div>
  	</div>
</div>