<h1>Book Overview</h1>

<table>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Book Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <% if current_user_admin? || current_user == lending.user %>
        <tr>
          <td><%= lending.book.title %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>