<h1><%= pluralize(@movies.count, "Event" ) %></h1>
<table>
	<tr>
		<td>Name</td><td>Beschreibung</td><td>Erscheinungsdatum</td>
	</tr>
	<% @movies.each do |movies| %>
	<tr>
		<td><%= movies.name %></td>
		<td><%= movies.description %></td>
		<td><%= movies.released_on %></td>
	</tr>
<% end %>